{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html>
    여기는 소개페이지

    <br><br><br>
            <div style="border: 1px solid gold; float: left; width: 10%; height: 200px; position: relative">
                    <div style="border: 1px solid gold; float: left; width:100%; height: 49%; position: relative">asdf</div>
                    <div style="border: 1px solid gold; float: left; width:100%; height: 49%; position: relative">asdff</div>
            </div>
            <div style="border: 1px solid red; float: left; width: 40%; height: 200px; position: relative">
                    <div style="border: 1px solid gold; float: left; width:100%; height: 49%; position: relative">asdf</div>
                    <div style="border: 1px solid gold; float: left; width:100%; height: 49%; position: relative">asdff</div>    
                두번째 영역
            </div>
            <div style="border: 1px solid blue; float: left; width: 40%; height: 200px; position: relative">
                    세번째 영역
            </div>
</html>

{% endblock %}